.search-box {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.search-link {
  text-decoration-color: rgb(202, 202, 202);
  text-underline-offset: 0.3em;

  h2 {
    width: 600px;
    color: rgb(202, 202, 202);
    margin-bottom: 30px;
    font-size: 3em;
    padding: 5px;
    border-radius: 3px;
  }
  h2:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  h2:active {
    color: rgb(36, 10, 96);
  }
}

.dark .react-nav-button.theme-button {
  background-color: rgb(26, 10, 96);
  border: none;
}
.light .react-nav-button.theme-button {
  background-color: rgb(222, 161, 8);
  border: none;
}
