.about {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px fuchsia solid;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* add media for smaller screens */
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}
.dark .about {
  background-color: rgba(0, 0, 0, 0.8);
  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}

.journal-details {
  background-color: rgb(12, 13, 20);
}

.image-box {
  width: 100%;
  justify-self: start;
}

.about-image {
}

.about-details {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 0.9em;
  }
}

.light-git-png {
  width: 100px;
  height: auto;
}

.art-link {
  color: rgb(110, 0, 235);
}

.dark .about .btn {
  background-color: rgb(36, 10, 96);
  border: none;
  padding: 10px;
  width: 120px;
  color: rgb(202, 202, 202);
}

.dark about :hover {
  background-color: rgba(36, 10, 96, 0);
  border: 2px solid rgb(36, 10, 96);
}

.dark about :active {
  background-color: rgba(36, 10, 96, 0);
  border: 2px solid rgb(202, 202, 202);
}
