.error-page {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* add media for smaller screens */
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}
.error-page {
  .dark & {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px rgb(137, 127, 200) solid;
  }
  .light & {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px rgb(222, 161, 8) solid;
  }

  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}

.error-img {
  width: 500px;
  margin-bottom: 100px;
}

.error-page h1 {
  margin-bottom: 50px;
}
