/* home styling */
.home {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px fuchsia solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* add media for smaller screens */
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}
.dark .home {
  background-color: rgba(0, 0, 0, 0.8);
  @media only screen and (max-width: 360px) {
    overflow: hidden;
  }
}

.journal-details {
  background-color: rgb(12, 13, 20);
}

.cover {
  margin-top: 70px;
}

.button-container .button {
  background-color: rgb(26, 10, 96);
  border: none;
  &:hover {
    background-color: rgba(26, 10, 96, 0);
    border: 3px solid rgb(26, 10, 96);
  }
  &:active {
    background-color: rgb(74, 7, 137) !important;
    border: 3px solid rgb(74, 7, 137) !important;
  }
}
