/* location list styling */
.location-list {
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 30px;
  min-height: calc(100vh);
  width: 1000px;
  /* adjust width for smaller screens */
  @media only screen and (max-width: 1000px) {
    min-height: unset;
    width: 800px;
  }
  @media only screen and (max-width: 800px) {
    min-height: unset;
    width: 100%;
  }
}

.location-list {
  .dark & {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px rgb(137, 127, 200) solid;
  }
  .light & {
    background-color: rgba(173, 173, 173, 0.8);
    border: 1px rgb(222, 161, 8) solid;
  }
}

.location-list a {
  text-decoration: none;
  color: inherit;
}

.location-item {
  width: 80%;
  height: 100px;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-item:hover {
  cursor: pointer;
  transition: 0.2s;
  .dark & {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .light & {
    background-color: rgba(233, 233, 233, 0.8);
    border: 1px rgb(222, 161, 8) solid;
  }
}
