:root {
  background-color: rgb(15, 16, 28);
  /* background-color: rgba(0,0,0,0.85) */
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

@font-face {
  font-family: "JetBrains";
  src: url("./resources/fonts/ttf/JetBrainsMonoNL-Regular.ttf") format("ttf"),
    url("./resources/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: "JetBrains";
}



.custom-btn.black {
  background-color: black;
}

.journal-details {
  background-color: rgb(12, 13, 20);
}

.button {}

.dark {
  background-color: rgb(15, 16, 28);
  color: rgb(202, 202, 202);
  background-image: url("./resources/images/hk-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* home styling */
.home {
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px fuchsia solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* add media for smaller screens */
}

.dark .home {
  background-color: rgba(0, 0, 0, 0.8);
}

/* journal styling */
.journal {
  height: calc(100vh - 56px);
  width: 95vw;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
}

.dark .journal {
  background-color: rgba(0, 0, 0, 0.8);
}

.filter-select {
  padding: 30px 0;
  height: 10%;
}

.enemy-grid {
  width: 100%;
  height: 92%;
  border: 1px solid fuchsia;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(3, 1fr);
  gap: 5px;
  max-height: 100%;
}

.enemy-list {
  grid-area: 1 / 1 / 10 / 1;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100%;
}

.enemy-picture {
  grid-area: 1 / 2 / 10 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.enemy-name {
  grid-area: 1 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.enemy-description {
  grid-area: 3 / 3 / 7 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.details-button {
  grid-area: 7 / 3 / 8 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.create-enemy-button {
  grid-area: 8 / 3 / 9 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.delete-button {
  grid-area: 9 / 3 / 10 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.enemy-item {

  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid white;
  z-index: 1;
}

/* location list styling */
.location-list {
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 30px;
  min-height: calc(100vh);
  width: 1000px;
  /* adjust width for smaller screens */
}

.dark .location-list {
  background-color: rgba(0, 0, 0, 0.8);

}

.location-item {
  background-color: rgb(26, 5, 86);
  width: 80%;
  height: 100px;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-item:hover{
  background-color: rgb(36, 10, 96);
}

.location-list a{
  text-decoration: none;
  color: inherit;
}


/* enemy details page */

.enemy-details {
  height: calc(100vh - 56px);
  width: 95vw;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
}

.dark .enemy-details {
  background-color: rgba(0, 0, 0, 0.8);
}

.enemy-details-picture {
  height: 15%;
  width: 100%;
}

.enemy-details-picture img {
  height: 100%;
  width: auto;
}

.enemy-details-grid {
  height: 85%;
  display: grid;
  width: 100%;
  grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  gap: 10px;
}

.enemy-details-description {

  border: 1px solid red;
  grid-area: 1/1/4/2;
}

.enemy-more-details {

  border: 1px solid red;
  grid-area: 1/2/4/3;
}

.edit-enemy-button {

  border: 1px solid red;
  grid-area: 5/1/6/2;
}

.delete-enemy-button {

  border: 1px solid red;
  grid-area: 5/2/6/3;
}

.back-button {

  border: 1px solid red;
  grid-area: 6/1/7/3;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* edit enemy page */

.edit-enemy-page {
  min-height: calc(100vh - 56px);
  width: 80vw;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
}

.dark .edit-enemy-page {
  background-color: rgba(0, 0, 0, 0.8);
}

.current-enemy {
  display: flex;
  width: 100%;
}

.edit-enemy-picture {
  width: 50%;
  height: 200px;
}
.edit-enemy-picture img{
  height: auto;
}

.edit-enemy-name {
  width: 50%;
  height: 200px;
}

.edit-enemy-form {
  padding: 50px;
}

/* create enemy page */

.create-enemy-page{
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  border: 1px fuchsia solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* add media for smaller screens */
}

.dark .create-enemy-page{
  background-color: rgba(0, 0, 0, 0.8);
}

/* location details page */
.location-details-page {
  width: 1000px;
  margin: 56px auto 0;
  min-height: 100vh;
  border: 1px fuchsia solid;
  display: flex;
  flex-direction: column;
}

.dark .location-details-page {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel {
  color: red;
  width: 95%;
  margin: 35px auto 50px;
}


.location-details-grid {
  display: grid;
  grid-template: repeat(6,1fr) / repeat(2, 1fr);
  height: 600px;
}

.location-details-description {
  grid-area: 1/1/5/2;
}
.location-more-details {
  grid-area: 1/2/5/3;
}
.location-back-button{
  grid-area: 6/1/7/3;
}

.location-back-button .back-button-item {
  background-color: black;
}