/* :root {}

@media (prefers-color-scheme: dark) {
  :root {}
} */

@font-face {
  font-family: "JetBrains";
  src:  url("./resources/fonts/ttf/JetBrainsMonoNL-Regular.ttf") format("ttf"),
        url("./resources/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");      
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "JetBrains";
}

.custom-btn.black{
  background-color: black ;
}

